/*  -------- Header -------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    padding: 1rem;
    max-height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

img {
    max-width: 70%;
    display: block;
}


ul {
    display: flex;
}

li {
    list-style: none;
    margin-inline: 20px;
    font-size: 1rem;
}

.logo img {
    cursor: pointer;
    
}